[Desktop Entry]
Name=Tac Writer - Academic Writing Guide
Name[pt]=Tac Writer - Guia de Escrita Acadêmica
Name[es]=Tac Writer - Guía de Escritura Académica
Name[bg]=Tac Writer - Ръководство за Академично Писане
Name[cs]=Tac Writer - Průvodce Akademickým Psaním
Name[da]=Tac Writer - Akademisk Skriveguide
Name[de]=Tac Writer - Akademischer Schreibleitfaden
Name[el]=Tac Writer - Οδηγός Ακαδημαϊκής Γραφής
Name[et]=Tac Writer - Akadeemilise Kirjutamise Juhend
Name[fi]=Tac Writer - Akateemisen Kirjoittamisen Opas
Name[fr]=Tac Writer - Guide d'Écriture Académique
Name[he]=Tac Writer - מדריך כתיבה אקדמית
Name[hr]=Tac Writer - Vodič za Akademsko Pisanje
Name[hu]=Tac Writer - Akadémiai Írás Útmutató
Name[is]=Tac Writer - Fræðileg Ritunarhandbók
Name[it]=Tac Writer - Guida alla Scrittura Accademica
Name[ja]=Tac Writer - 学術論文執筆ガイド
Name[ko]=Tac Writer - 학술 논문 작성 가이드
Name[nl]=Tac Writer - Academische Schrijfgids
Name[no]=Tac Writer - Akademisk Skriveguide
Name[pl]=Tac Writer - Przewodnik Pisania Akademickiego
Name[ro]=Tac Writer - Ghid de Scriere Academică
Name[ru]=Tac Writer - Руководство по Академическому Письму
Name[sk]=Tac Writer - Príručka Akademického Písania
Name[sv]=Tac Writer - Akademisk Skrivguide
Name[tr]=Tac Writer - Akademik Yazım Rehberi
Name[uk]=Tac Writer - Посібник з Академічного Письма
Name[zh]=Tac Writer - 学术写作指南
GenericName=Academic Writing Guide
GenericName[pt]=Guia de Escrita Acadêmica
GenericName[es]=Guía de Escritura Académica
GenericName[bg]=Ръководство за Академично Писане
GenericName[cs]=Průvodce Akademickým Psaním
GenericName[da]=Akademisk Skriveguide
GenericName[de]=Akademischer Schreibleitfaden
GenericName[el]=Οδηγός Ακαδημαϊκής Γραφής
GenericName[et]=Akadeemilise Kirjutamise Juhend
GenericName[fi]=Akateemisen Kirjoittamisen Opas
GenericName[fr]=Guide d'Écriture Académique
GenericName[he]=מדריך כתיבה אקדמית
GenericName[hr]=Vodič za Akademsko Pisanje
GenericName[hu]=Akadémiai Írás Útmutató
GenericName[is]=Fræðileg Ritunarhandbók
GenericName[it]=Guida alla Scrittura Accademica
GenericName[ja]=学術論文執筆ガイド
GenericName[ko]=학술 논문 작성 가이드
GenericName[nl]=Academische Schrijfgids
GenericName[no]=Akademisk Skriveguide
GenericName[pl]=Przewodnik Pisania Akademickiego
GenericName[ro]=Ghid de Scriere Academică
GenericName[ru]=Руководство по Академическому Письму
GenericName[sk]=Príručka Akademického Písania
GenericName[sv]=Akademisk Skrivguide
GenericName[tr]=Akademik Yazım Rehberi
GenericName[uk]=Посібник з Академічного Письма
GenericName[zh]=学术写作指南
Comment=Tac Writer is a guide to help you to write organized and understandable academic papers
Comment[pt]=Tac Writer é um guia para ajudá-lo a escrever artigos acadêmicos organizados e compreensíveis
Exec=tac-writer %F
Icon=tac-writer
StartupWMClass=org.communitybig.tac
StartupNotify=true
Terminal=false
Type=Application
Categories=Office;
Keywords=writing;academic;paper;research;guide;document;text;organize;
Keywords[pt]=escrita;acadêmico;artigo;pesquisa;guia;documento;texto;organizar;
X-GNOME-UsesNotifications=true
MimeType=text/plain;application/rtf;application/x-tex;text/x-tex;application/x-latex;text/x-markdown;
